{
  "name": "{{PLUGIN_NAME}}",
  "label": "{{PLUGIN_LABEL}}",
  "version": "1.0.0",
  "description": "{{PLUGIN_DESC}}",
  "runtime": "python",
  "script": "main.py",
  "mode": "cli",
  "type": "script",
  "inputs": [],
  "outputs": []
}
